<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Friends Visualizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="content">
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
</div>
<div class="login-page">
  <div class="form">
    <form class="login-form" method="post">
      <p class="Info"> Twitter Friends Visualizer</p>
      <input type="text" name="title" placeholder="@nickname"
      value="{{ request.form['title'] }}"/>
      <input type="text" name="content" placeholder="Count of friends"
      value="{{ request.form['content'] }}"/>
        <button type="submit" class="button" onclick="this.classList.toggle('button--loading')"><span class="button__text">Search</span></button>
</button>
    </form>
  </div>
</div>
<!-- partial -->

</body>
</html>
